/.python-version
/outputs/
__pycache__/
/site/
/multirun/
wandb
.ipynb_checkpoints
ragfit.egg-info
# configs/my_configs
data/
# tools/qdrant_server
*_output.jsonl
*_evaluation*.yaml
tools/qdrant_server
trained_models/