name: my_retrieval
cache: false
output_path: .
steps:
    - _target_: ragfit.processing.dataset_loaders.loaders.LocalLoader
      inputs: train
      filename: data/raw/rag_medications_train.jsonl

    - _target_: ragfit.processing.dataset_loaders.loaders.LocalLoader
      inputs: dev
      filename: data/raw/rag_medications_test.jsonl

    # - _target_: ragfit.processing.local_steps.formatting.CombineFields
    #   inputs: [train, dev]
    #   input_keys: [question, context]
    #   output_key: query
    #   separator: "\n"

    - _target_: ragfit.processing.local_steps.prompter.TextPrompter
      inputs: [train, dev]
      prompt_file: ragfit/processing/prompts/my_prompts/drug-qa-non.txt   # 指定提示模板文件，TextPrompter读取模板并用 mapping 字段填充占位符
      output_key: query
      mapping:
            question: question        # 直接使用数据集中的 question
            context: context          # 直接使用字符串 context

    - _target_:
            ragfit.processing.local_steps.retrievers.haystack.HaystackRetriever
      inputs: [train, dev]
      pipeline_or_yaml_path: ./configs/external/haystack/qdrant.yaml
      docs_key: positive_passages
      query_key: query




    # - _target_: ragfit.processing.global_steps.sampling.Sampler
    #   inputs: [train, dev]
    #   k: 1
    #   input_key: positive_passages
    #   output_key: negative_passages

    - _target_: ragfit.processing.local_steps.prompter.TextPrompter
      inputs: [train, dev]
      prompt_file: ragfit/processing/prompts/my_prompts/drug_qa.txt   # 指定提示模板文件，TextPrompter读取模板并用 mapping 字段填充占位符
      output_key: my_prompt
      mapping:
            question: question        # 直接使用数据集中的 question
            context: context          # 直接使用字符串 context
            positive_passages: positive_passages
            # fewshot: fewshot_examples
            # answer: answer

    - _target_: ragfit.processing.local_steps.formatting.RemoveFields
      inputs: [train, dev]
      keys_to_remove: [query, negative_passages,positive_passages,context]

    - _target_: ragfit.processing.global_steps.output.OutputData
      inputs: [train, dev]
      prefix: drug_retrieval_v2
      directory: data/processed

